<app-home-navbar />

<div class="text-center w-full max-w-7xl mx-auto p-4 sm:p-6 lg:p-8">
    <div>
        <div class="mx-auto max-w-2xl px-4 py-4 sm:px-6 sm:py-6 lg:max-w-7xl lg:px-8">
            <div class="mb-8">
                <h1 class="text-xl sm:text-2xl lg:text-3xl font-bold text-white text-center">
                    Home
                </h1>
                <h3 class="text-lg font-semibold mb-4">Workout Planner</h3>
                <div
                    class="grid grid-cols-1 gap-x-4 gap-y-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6">
                    <a [routerLink]="['create-routine']"
                        class="group bg-transparent border border-gray-200 rounded-lg p-4 hover:bg-gray-800 transition-colors">
                        <h3 class="text-sm font-medium">Create Routine</h3>
                    </a>
                </div>
            </div>
            <hr class="border-t border-gray-300 my-8">
            <!-- Siguiente sección -->
        </div>
    </div>
</div>